# Nuxt
.nuxt
.output
.data
.cache
dist

# Node
node_modules
*.log*

# Env
.env
.env.*
!.env.example

# Wrangler
.wrangler

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Tests
test-results
playwright-report
